@using Real_Estate_WebApp.Models
@model SocialNetworks

<a class="btn btn-outline-light btn-social" href="@Model.Twitter"><i class="fab fa-twitter"></i></a>
<a class="btn btn-outline-light btn-social" href="@Model.Facebook"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-outline-light btn-social" href="@Model.YouTube"><i class="fab fa-youtube"></i></a>
<a class="btn btn-outline-light btn-social" href="@Model.LinkedIn"><i class="fab fa-linkedin-in"></i></a>